{{extend 'layout.html'}}
<div class="row">




{{for product in products:}}
<div class="col-md-4">
    <div class="card" style="width:100%;">
        <img class="card-img-top" src="{{=URL('default', 'download', args=product.file)}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Q. {{=product.price}} <span class="m-badge  m-badge--primary m-badge--wide">{{=product.type.name}}</span></h5>
            <p class="card-text">{{=product.name}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i>{{=product.description}}</i></li>
        </ul>
        <div class="card-body text-center">
            <button type="button" class="btn btn-sm m-btn--pill m-btn--air btn-info m-btn--wide">Comprar</button>
        </div>
    </div>
</div>
{{pass}}

</div>