version: '3'
services:
  control:
    build: .
    restart: always
    image: control:control
    ports:
      - 9999:8080
    environment:
      - WEB2PY_PASSWORD=order
      - WEB2PY_ADMIN_SECURITY_BYPASS=true
      - WEB2PY_VERSION=2.20.4
      - TZ=America/Guatemala
    container_name: control
    volumes:
      - './:/opt/web2py/applications/control'
    depends_on:
      - postgres_cian
  postgres_cian:
    container_name: postgres_cian
    image: postgres
    #restart: always
    ports:
      - 3000:5432
    environment:
      POSTGRES_PASSWORD: c14n
      POSTGRES_USER: ciancoders
      POSTGRES_DB: ciandb
#postgres://ciancoders:c14n@postgres_cian/ciandb
